logic-apps/RegisterToPlay/RegoLogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "faceapi_1_Connection_Name": {
      "type": "string",
      "defaultValue": "faceapi"
    },
    "faceapi_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "BitFaceApi"
    },
    "faceapi_1_apiKey": {
      "type": "securestring",
      "metadata": {
        "description": "API Key"
      }
    },
    "faceapi_1_siteUrl": {
      "type": "string",
      "metadata": {
        "description": "Root site url (Example: https://westus.api.cognitive.microsoft.com ).If not specified site url will be defaulted to 'https://westus.api.cognitive.microsoft.com'."
      },
      "defaultValue": "https://westus2.api.cognitive.microsoft.com/face/v1.0"
    },
    "twitter_1_Connection_Name": {
      "type": "string",
      "defaultValue": "twitter"
    },
    "twitter_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "DevBitWhere"
    },
    "azuretables_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuretables"
    },
    "azuretables_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "bittablestorage"
    },
    "azuretables_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "whereisbitv2"
    },
    "azuretables_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "twitter_Connection_Name": {
      "type": "string",
      "defaultValue": "twitterconn"
    },
    "twitter_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "TwitterConnect"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Initialise_Request_Unique_Identifier_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestIdentifier",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              },
              "runAfter": {
                "Initialise_Existing_User_variable": [
                  "Succeeded"
                ]
              }
            },
            "Check_if_tweet_has_at_least_one_media_item": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@length(triggerBody()?['MediaUrls'])",
                      1
                    ]
                  }
                ]
              },
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['MediaUrls']",
                  "actions": {
                    "Add_a_person_face": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['faceapi']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "url": "@{items('For_each')}"
                        },
                        "path": "/face/v1.0/persongroups/@{encodeURIComponent(body('Parse_game_configuration')?['persongroup'])}/persons/@{encodeURIComponent(variables('UserPersonId'))}/persistedFaces",
                        "queries": {
                          "userData": "@{triggerBody()?['UserDetails']?['UserName']}@{triggerBody()?['UserDetails']?['Description']}@{variables('RequestIdentifier')}"
                        }
                      },
                      "runAfter": {}
                    },
                    "Did_we_add_a_face_successfully": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@actions('Add_a_person_face')['status']",
                                "Failed"
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Detect_faces": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['faceapi']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "url": "@{items('For_each')}"
                            },
                            "path": "/face/v1.0/detect",
                            "queries": {
                              "returnFaceId": "true",
                              "returnFaceAttributes": "age,gender,headPose,smile,facialHair,glasses",
                              "returnFaceLandmarks": "true"
                            }
                          },
                          "runAfter": {}
                        },
                        "Did_we_detect_any_faces": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "not": {
                                  "equals": [
                                    "@actions('Detect_faces')['status']",
                                    "Failed"
                                  ]
                                }
                              }
                            ]
                          },
                          "actions": {
                            "For_each_2": {
                              "type": "Foreach",
                              "foreach": "@body('Detect_faces')",
                              "actions": {
                                "Build_image_log_message": {
                                  "type": "Compose",
                                  "inputs": {
                                    "reqid": "@{variables('RequestIdentifier')}",
                                    "PartitionKey": "@{triggerBody()?['UserDetails']?['UserName']}",
                                    "faceid": "@{body('Add_a_person_face')?['persistedFaceId']}",
                                    "RowKey": "@{guid()}",
                                    "imgurl": "@{items('For_each')}",
                                    "faceRectHeight": "@items('For_each_2')?['faceRectangle']?['height']",
                                    "faceRectWidth": "@items('For_each_2')?['faceRectangle']?['width']",
                                    "faceRectTop": "@items('For_each_2')?['faceRectangle']?['top']",
                                    "faceRectLeft": "@items('For_each_2')?['faceRectangle']?['left']"
                                  },
                                  "runAfter": {}
                                },
                                "Write_image_log_message_to_table_storage": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": "@outputs('Build_image_log_message')",
                                    "path": "/Tables/@{encodeURIComponent('regourls')}/entities"
                                  },
                                  "runAfter": {
                                    "Build_image_log_message": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {}
                            },
                            "Create_registration_success_log_message": {
                              "type": "Compose",
                              "inputs": {
                                "reqid": "@{variables('RequestIdentifier')}",
                                "PartitionKey": "@{triggerBody()?['UserDetails']?['UserName']}",
                                "RowKey": "@{guid()}",
                                "postbody": "@{triggerBody()?['TweetText']}",
                                "message": "Success",
                                "existinguser": "@variables('ExistingUser')",
                                "success": "@true"
                              },
                              "runAfter": {
                                "For_each_2": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Write_success_log_message_to_table_storage": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": "@outputs('Create_registration_success_log_message')",
                                "path": "/Tables/@{encodeURIComponent('regologs')}/entities"
                              },
                              "runAfter": {
                                "Create_registration_success_log_message": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Detect_faces": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Create_image_contains_no_faces_log_message": {
                                "type": "Compose",
                                "inputs": "{\n  \"reqid\": \"@{variables('RequestIdentifier')}\",\n  \"PartitionKey\": \"@{triggerBody()?['UserDetails']?['UserName']}\",\n  \"RowKey\": \"@{guid()}\",\n  \"postbody\": \"@{triggerBody()?['TweetText']}\",\n  \"message\": \"Failed to detect any faces in image\",\n\"imgurl: \"@{items('For_each')}\",\n\"existinguser\": @{variables('ExistingUser')},\n  \"success\": @{false}\n}",
                                "runAfter": {}
                              },
                              "Write_image_contains_no_faces_log_to_table_storage": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": "@outputs('Create_image_contains_no_faces_log_message')",
                                  "path": "/Tables/@{encodeURIComponent('regologs')}/entities"
                                },
                                "runAfter": {
                                  "Create_image_contains_no_faces_log_message": [
                                    "Succeeded"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Add_a_person_face": [
                          "Succeeded",
                          "Failed"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Create_failed_to_create_person_face_record_log_message": {
                            "type": "Compose",
                            "inputs": {
                              "reqid": "@{variables('RequestIdentifier')}",
                              "PartitionKey": "@{triggerBody()?['UserDetails']?['UserName']}",
                              "RowKey": "@{guid()}",
                              "postbody": "@{triggerBody()?['TweetText']}",
                              "message": "Failed to add person face",
                              "existinguser": "@variables('ExistingUser')",
                              "success": "@false"
                            },
                            "runAfter": {}
                          },
                          "Write_failed_person_face_record_log_to_table_storage": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                              },
                              "method": "post",
                              "body": "@outputs('Create_failed_to_create_person_face_record_log_message')",
                              "path": "/Tables/@{encodeURIComponent('regologs')}/entities"
                            },
                            "runAfter": {
                              "Create_failed_to_create_person_face_record_log_message": [
                                "Succeeded"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Is_the_user_already_registered": [
                      "Succeeded"
                    ]
                  },
                  "description": "Process each media item provided in the tweet and add it as a face entry for the \"person\" we created previously."
                },
                "Parse_game_configuration": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Read_game_configuration_from_table_storage')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "odata.metadata": {
                          "type": "string"
                        },
                        "odata.etag": {
                          "type": "string"
                        },
                        "PartitionKey": {
                          "type": "string"
                        },
                        "RowKey": {
                          "type": "string"
                        },
                        "Timestamp": {
                          "type": "string"
                        },
                        "activeevent": {
                          "type": "string"
                        },
                        "activetier": {
                          "type": "integer"
                        },
                        "etag": {
                          "type": "string"
                        },
                        "persongroup": {
                          "type": "string"
                        },
                        "currentbit": {
                          "type": "string"
                        },
                        "currentwinner": {
                          "type": "string"
                        },
                        "bitclearurl": {
                          "type": "string"
                        },
                        "bitimgurl": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Read_game_configuration_from_table_storage": [
                      "Succeeded"
                    ]
                  }
                },
                "Read_game_configuration_from_table_storage": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('gameconfig')}/entities(PartitionKey='@{encodeURIComponent('config')}',RowKey='@{encodeURIComponent('bit')}')"
                  },
                  "runAfter": {}
                },
                "Read_existing_user_record": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('playerlist')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['UserDetails']?['UserName'])}',RowKey='@{encodeURIComponent(body('Parse_game_configuration')?['activeevent'])}')"
                  },
                  "runAfter": {
                    "Parse_game_configuration": [
                      "Succeeded"
                    ]
                  }
                },
                "Is_the_user_already_registered": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@actions('Read_existing_user_record')['status']",
                            "Failed"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Set_existing_user_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ExistingUser",
                        "value": "@true"
                      },
                      "runAfter": {}
                    },
                    "Parse_JSON": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Read_existing_user_record')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "personid": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "confirmed": {
                              "type": "boolean"
                            },
                            "reqid": {
                              "type": "string"
                            },
                            "byteround": {
                              "type": "integer"
                            },
                            "_rid": {
                              "type": "string"
                            },
                            "_self": {
                              "type": "string"
                            },
                            "_etag": {
                              "type": "string"
                            },
                            "_attachments": {
                              "type": "string"
                            },
                            "_ts": {
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Set_existing_user_variable": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_Person_ID_from_existing_table_storage_entry": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "UserPersonId",
                        "value": "@body('Parse_JSON')?['personid']"
                      },
                      "runAfter": {
                        "Parse_JSON": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Read_existing_user_record": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Create_a_person": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['faceapi']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "name": "@triggerBody()?['UserDetails']?['UserName']",
                            "userData": "@{triggerBody()?['UserDetails']?['Description']}@{variables('RequestIdentifier')}"
                          },
                          "path": "/face/v1.0/persongroups/@{encodeURIComponent(body('Parse_game_configuration')?['persongroup'])}/persons"
                        },
                        "runAfter": {}
                      },
                      "Set_Person_ID_from_Face_API": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "UserPersonId",
                          "value": "@body('Create_a_person')?['personId']"
                        },
                        "runAfter": {
                          "Create_a_person": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Create_registered_user_record": {
                        "type": "Compose",
                        "inputs": {
                          "personid": "@{variables('UserPersonId')}",
                          "PartitionKey": "@{triggerBody()?['UserDetails']?['UserName']}",
                          "RowKey": "@{body('Parse_game_configuration')?['activeevent']}",
                          "confirmed": "@false",
                          "reqid": "@{variables('RequestIdentifier')}",
                          "byteround": 0
                        },
                        "runAfter": {
                          "Set_Person_ID_from_Face_API": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Write_registered_player_record_to_table_storage": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuretables']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": "@outputs('Create_registered_user_record')",
                          "path": "/Tables/@{encodeURIComponent('playerlist')}/entities"
                        },
                        "runAfter": {
                          "Create_registered_user_record": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Initialise_Person_ID_variable": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_no_media_item_log_entry": {
                    "type": "Compose",
                    "inputs": {
                      "reqid": "@{variables('RequestIdentifier')}",
                      "PartitionKey": "@{triggerBody()?['UserDetails']?['UserName']}",
                      "RowKey": "@{guid()}",
                      "postbody": "@{triggerBody()?['TweetText']}",
                      "message": "No media items in rego tweet",
                      "existinguser": "@false",
                      "success": "@false"
                    },
                    "runAfter": {}
                  },
                  "Write_no_media_item_log_entry_to_table_storage": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": "@outputs('Create_no_media_item_log_entry')",
                      "path": "/Tables/@{encodeURIComponent('regologs')}/entities"
                    },
                    "runAfter": {
                      "Create_no_media_item_log_entry": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              }
            },
            "Initialise_Person_ID_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UserPersonId",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "Initialise_Request_Unique_Identifier_variable": [
                  "Succeeded"
                ]
              }
            },
            "Initialise_Existing_User_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ExistingUser",
                    "type": "Boolean",
                    "value": "@false"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_new_tweet_is_posted": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['twitter']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/onnewtweet",
                "queries": {
                  "searchQuery": "BitWhere #rego"
                }
              },
              "recurrence": {
                "frequency": "Second",
                "interval": 60
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "faceapi": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'faceapi')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('faceapi_1_Connection_Name'))]",
                "connectionName": "[parameters('faceapi_1_Connection_Name')]"
              },
              "azuretables": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
                "connectionName": "[parameters('azuretables_1_Connection_Name')]"
              },
              "twitter": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]",
                "connectionName": "[parameters('twitter_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('faceapi_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('faceapi_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'faceapi')]"
        },
        "displayName": "[parameters('faceapi_1_Connection_DisplayName')]",
        "parameterValues": {
          "apiKey": "[parameters('faceapi_1_apiKey')]",
          "siteUrl": "[parameters('faceapi_1_siteUrl')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('twitter_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"
        },
        "displayName": "[parameters('twitter_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuretables_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]"
        },
        "displayName": "[parameters('azuretables_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azuretables_1_storageaccount')]",
          "sharedkey": "[parameters('azuretables_1_sharedkey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('twitter_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"
        },
        "displayName": "[parameters('twitter_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}